//- Footer
footer
    .container-fluid.footer
        .container.footer-main
            dl
                dt Support
                dd: a(href="mailto:help@pixl.com") help@pixl.com
                dt Contact/Business Enquiries
                dd
                    address
                        strong Pixl, Inc. #[br]
                        |Unit 15 Industrial Park Drive #[br]
                        |Bristol, United Kingdom #[br]
                        |BS9 811 #[br]
                        abbr(title="Phone") P: 
                        |(0117) 1234 567

//- JS Includes
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")


script(src="/js/menu.js")
