doctype html
html(xmlns="http://www.w3.org/1999/xhtml", lang="en-GB", xml:lang="en-GB")
    head
        include ./head.jade
    body
        include ./navbar.jade

        block b_content
            //- Main view area
            .container-fluid.main-view
                #viewerHolder
                #overdraw
            
            //- Additional info/options
            .container-fluid.main-view-desc
                .container
                    .row
                        .col-md-8
                            .panel
                                .panel-heading
                                    span #[=item.name]
                                        if item.author
                                            small: em  by #[a(href="/user/"+item.author)= item.author]
                                        else
                                            small: em(style={'color':'#AAA'})  Uploaded anonymously
                                    .pull-right=item.views
                                        |  Views
                                .panel-body
                                    dl
                                        if item.description
                                            dt Description
                                            dd= item.description
                                        dt Information
                                        - var date = new Date(item.upload_date)
                                        dd: small Uploaded: #[= date.toDateString()]
                                        if item.tags && item.tags.length > 0
                                            dt Tags
                                            dd
                                                each tag in item.tags
                                                    a(href='/search?q='+tag)=tag
                                                    |, 
                        .col-md-4
                            .panel
                                .panel-heading: small More Like This
                                .panel-body
                                    - var i = 0
                                    while i < 5
                                        .col-md-2.col-sm-2.col-xs-2.slimCol: a(href="/")
                                            img.mesh-thumb(src="http://placehold.it/40x40")
                                        - i++
                                    .col-ms-2.col-sm-2.col-xs-2.slimCol: a(href="/search")
                                        span.glyphicon.glyphicon-option-horizontal.big-glyph
            //- end info/options

            //- Comments
            mixin comment-form
                if user.loggedIn
                    .container#commentBox
                        h4 Post Comment
                        .well
                            .form-group
                                textarea.form-control#commentInput(name='comment', placeholder='Enter comment...')
                            button.btn.btn-default#commentBtn(data-item=item._id) Post as #[=user.username]
                else
                    h4 Please #[a(href='/login') login] to post a comment
                        
            include ./comment.jade

            .container-fluid.background
                .container
                    if !item.comments
                        .h1 No Comments
                        +comment-form
                    else
                        .h1 #[=item.comments.length] Comment
                            if item.comments.length !== 1
                                |s
                        +comment-form
                        .col-md-8.comments-container: ul.media-list#commentsContainer
                            each c in item.comments
                                +comment(c)
            //- end comments
            
        include ./footer.jade
        script
            | var meshPath='
            =item.path
            |';
            | var username='
            =user.username
            |';
        script(src="/js/three.min.js")
        script(src="/js/main-viewer.js")
        script(src='/js/comments.js')
