doctype html
html(xmlns="http://www.w3.org/1999/xhtml", lang="en-GB", xml:lang="en-GB")
    head
        include ./head.jade
    body
        include ./navbar.jade

        block b_preview
            //- Preview WebGL!
            .container-fluid.preview
                #viewerHolder
                #overdraw

            //- Model information/options
            .container-fluid.no-padding
                .container.no-padding
                    .row
                        a(href="/item/"+featured._id)
                            .preview-panel-offset.col-md-7.col-sm-6
                        .col-md-5.col-sm-6
                            .panel
                                .panel-heading
                                    span=featured.name 
                                        small: em  by #[a(href="/user/"+featured.author)=featured.author]
                                .panel-body
                                    dl
                                        dt Description
                                        dd=featured.description
                                            |  
                                            a(href="/item/"+featured._id) See more
                                        dt Information
                                        dd
                                            small Uploaded 
                                                =featured.upload_date
                                            //-br
                                            //-small Featured 15/03/2015
                            .panel
                                .panel-heading: small More Like This
                                .panel-body
                                    .col-md-2.col-sm-2.col-xs-2.slimCol
                                        a(href="item.html"): img.mesh-thumb(src="http://placehold.it/40x40")
                                    .col-md-2.col-sm-2.col-xs-2.slimCol
                                        a(href="search.html")
                                            span.glyphicon.glyphicon-option-horizontal.big-glyph
            

        block b_content
            //- Main container
            .container-fluid.background
                .container

                    .row
                        .col-md-6
                            h1 About 
                                small PixL
                            p
                                |Pixl is a media sharing platform for the modern web.
                                |Anyone can upload and share images and 3D content, with or without an 
                                |account, #[em all for free].
                            p
                                |Get started by #[a(href="upload.html") uploading your content now], or 
                                |take a look at what other have been working on #[a(href="all.html") here].
                        .col-md-6
                            img(style={width:"100%", height:"auto"}, src="https://placeimg.com/600/200/animals")

                    .row
                        .col-md-6.hidden-sm.hidden-xs
                            img(style={width:"100%", height:"auto"}, src="https://placeimg.com/600/400/nature")

                        .col-md-6
                            h1 Our Mission
                            p
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ille pellit, 
                                |qui permulcet sensum voluptate. Duo Reges: constructio interrete. Illud dico,
                                |ea, quae dicat, praeclare inter se cohaerere. Tum ille timide vel potius 
                                |verecunde: Facio, inquit. Quae diligentissime contra Aristonem dicuntur a 
                                |Chryippo. Prioris generis est docilitas, memoria; #[i Ita prorsus, inquam;]
                            p
                                |Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. Expectoque 
                                |quid ad id, quod quaerebam, respondeas. Quae similitudo in genere etiam humano 
                                |apparet. Sed plane dicit quod intellegit. Indicant pueri, in quibus ut in speculis 
                                |natura cernitur. Potius ergo illa dicantur: turpe esse, viri non esse debilitari 
                                |dolore, frangi, succumbere. #[b Et nemo nimium beatus est;]

                            blockquote(cite="http://loripsum.net")
                                Ne tum quidem te respicies et cogitabis sibi quemque natum esse et suis voluptatibus?
            //- end main container
            
            include ./footer.jade
            script(src="/js/three.min.js")
            script(src="/js/viewer.js")
