doctype html
html(xmlns="http://www.w3.org/1999/xhtml", lang="en-GB", xml:lang="en-GB")
    head
        include ./head.jade
    body
        include ./navbar.jade

        block b_content
            //- Main container
            .container-fluid.background
                if login_success
                    .container
                        h4 New account created!
                else
                    .container.main-view-desc
                        h4 Sign Up
                        if errors
                            if errors.name
                                .alert.alert-danger(role="alert")
                                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    strong Error: 
                                    =errors.name.msg
                            if errors.username
                                .alert.alert-danger(role="alert")
                                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    strong Error: 
                                    =errors.username.msg
                            if errors.email
                                .alert.alert-danger(role="alert")
                                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    strong Error: 
                                    =errors.email.msg
                            if errors.password
                                .alert.alert-danger(role="alert")
                                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    strong Error: 
                                    =errors.password.msg
                        form.well(action='', method='post')
                            .form-group
                                label(for="nameInput") Your Name
                                input#nameInput.form-control(name="name", type="text", placeholder="Your Name", value=inputs ? inputs.name : '')
                            .form-group
                                label(for="usernameInput") Username
                                input#usernameInput.form-control(name="username", type="text", placeholder="Username", value=inputs ? inputs.username : '')
                            .form-group
                                label(for="emailInput") Email
                                input#emailInput.form-control(name="email", type="email", placeholder="name@example.com", value=inputs ? inputs.email : '')
                            .form-group
                                label(for="passInput") Password
                                input#passInput.form-control(name="password", type="password", placeholder="Password")
                            button.btn.btn-default(type="submit") Submit
            //- end main container
            
            include ./footer.jade
