doctype html
html(xmlns="http://www.w3.org/1999/xhtml", lang="en-GB", xml:lang="en-GB")
    head
        include ./head.jade
    body
        include ./navbar.jade

        block b_content
            //- User info
            .container-fluid.background
                .container.main-view-desc
                    .row
                        .media
                            .pull-left.media-object(style={'padding-right':'0px'})
                                img(style={'width':'100%', 'max-width':'200px','height':'auto'}, src=renderUser.imgUrl)
                            .media-body
                                .panel-heading
                                    span User: #[=renderUser.username]
                                    .pull-right=results.length
                                        if results.length === 1
                                            |  Upload
                                        else
                                            |  Uploads
                                .panel-body
                                    dl
                                        dt About
                                        - var date = new Date(renderUser.join_date)
                                        dd User since: #[=date.toDateString()]
                                        if user._id.toString() === renderUser._id.toString()
                                            dd
                                                span.glyphicon.glyphicon-envelope
                                                |  
                                                em=user.email
                                                |  (other users can't see this)
                                            br
                                            a(href=user.username+'/edit')
                                                span.glyphicon.glyphicon-cog
                                                |  Change email / password
                        //-.col-md-4
                            .panel
                                .panel-heading: small Friends
                                .panel-body
                                    - var i = 0
                                    while i < 5
                                        .col-md-2.col-sm-2.col-xs-2.slimCol: a(href="/")
                                            img.mesh-thumb(src="http://placehold.it/40x40")
                                        - i++
                                    .col-ms-2.col-sm-2.col-xs-2.slimCol: a(href="/search")
                                        span.glyphicon.glyphicon-option-horizontal.big-glyph

                .container
                    h4 Uploads
                    include ./results_list.jade
            
        include ./footer.jade
